 * {
     margin: 0;
     padding: 0;
     font-family: "Orbitron";
     font-optical-sizing: auto;
     cursor: url(arrowhead-rounded-outline.svg ), auto;
 }

 .lightCursor {
     cursor: url(Light-arrowhead-rounded-outline.svg), auto;
 }





 body {
     background-image: url(background.jpg);
     overflow: hidden;
 }

 .bodylight {
     background-image: url(lightBG.jpg);
     overflow: hidden;
 }

 header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 40px;
     margin-top: 20px;
     gap: 10px;
     padding-left: 5px;
     padding-right: 5px;

 }

 main {
     margin-bottom: 20vh;
 }


 h1,
 h2 {
     color: white;

     border: 1px solid #170328;
     font-size: xx-large;
     background: #800080;
     background: radial-gradient(circle, rgba(128, 0, 128, 1) 0%, rgba(53, 11, 87, 1) 50%, rgba(27, 4, 46, 1) 100%);
     background-size: 300% 100%;
     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;
     transition: box-shadow 2s, scale 2s;

 }

 .titreslight {
     color: white;

     border: 1px solid #00003B;
     font-size: xx-large;
     background: radial-gradient(circle, rgba(30, 30, 235, 1) 0%, rgba(11, 11, 158, 1) 50%, rgba(0, 0, 59, 1) 100%);
     background-size: 300% 100%;
     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;
     transition: box-shadow 2s, scale 2s;

 }

 ul,
 li,
 a {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     text-decoration: none;
     gap: 10px;
     font-family: "Orbitron";


 }



 a:link,
 a:visited {
     color: white;

     border: 1px solid #170328;
     border-radius: 10px;
     padding: 20px;
     background: #800080;
     background: radial-gradient(circle, rgba(128, 0, 128, 1) 0%, rgba(53, 11, 87, 1) 50%, rgba(27, 4, 46, 1) 100%);
     background-size: 300% 100%;
     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;
     transition: box-shadow 2s, scale 2s;

 }

 .lightlink a:link,
 .lightlink a:visited {
     color: white;
     border: 1px solid #00003B;
     background: radial-gradient(circle,
             rgba(30, 30, 235, 1) 0%,
             rgba(11, 11, 158, 1) 50%,
             rgba(0, 0, 59, 1) 100%);
     background-size: 300% 100%;

     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;
     transition: box-shadow 2s, scale 1.5s;
 }



 a:hover {
     scale: 1.5;
     box-shadow: 0 200px 100px -100px #170328 inset, 0px 0px 15px purple;

 }

 .lightlink {
     a:hover {
         scale: 1.5;
         box-shadow: 0 200px 100px -100px #00003B inset, 0px 0px 15px #1E1EEB;

     }
 }

 @keyframes animationTest {
     0% {
         background-position: 0% 25%;
     }

     25% {
         background-position: 25% 50%;
     }

     50% {
         background-position: 50% 75%;
     }

     75% {
         background-position: 75% 100%;
     }

     100% {
         background-position: 100%;
     }
 }



 #magic {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }



 .magiczone {
     text-align: justify;
     display: flex;
     justify-content: center;
     align-content: center;
     color: white;
     border: 1px solid purple;
     box-shadow: 0px 0px 50px purple;
     background: radial-gradient(circle, rgba(30, 30, 235, 1) 0%, rgba(11, 11, 158, 1) 50%, rgba(0, 0, 59, 1) 100%);
     margin: 0px;
     padding: 10px;
     width: 60vh;
     background-size: 300% 100%;
     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;

 }

 .magiczonelight {
     text-align: justify;
     display: flex;
     justify-content: center;
     align-content: center;
     border: 1px solid darkblue;
     box-shadow: 0px 0px 50px darkblue;
     background: radial-gradient(circle, rgba(128, 0, 128, 1) 0%, rgba(53, 11, 87, 1) 50%, rgba(27, 4, 46, 1) 100%);
     margin: 0px;
     padding: 10px;
     width: 60vh;
     animation: animationTest 5s linear infinite alternate;
     animation-fill-mode: both;
     background-size: 300% 100%;

 }



 #ongletContact {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100vw;
 }



 footer{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.retourAccueil{
    width: 20vw;
    transition: none;
   
}
.retourAccueil>a:hover{
    scale: 1;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 }
 #contact {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 60vw;
     margin: 1%;
     margin-bottom: 0.3%;
     padding: 1%;
     border: 1px solid #350b57;
     box-shadow: 0px 0px 20px purple;
     background-color: #170328;
     border-radius: 20px;
      
 .champsObligatoires {       
         font-style: italic;
         font-size: xx-small;
         color: white;
     }

     .nomTel {

         display: flex;
         flex-direction: column;
         padding: 10px;
         justify-content: space-evenly;
         gap: 10px;
         ;
     }

     .Mailentreprise {

         display: flex;
         flex-direction: column;
         padding: 10px;
         justify-content: space-evenly;
         gap: 10px;


     }

     textarea {
         resize: none;
         width: 100%;
         height: 100px;
         border-color: purple;
         box-shadow: 0px 0px 20px;
         border-radius: 5px;
         padding: 5px;

     }

     .message {
         width: 90%;

         padding: 10px;
         justify-content: center;

     }

     legend {
         font-weight: bold;
         color: white;
     }

     input {
         height: 25px;
         border: none;
         border-bottom: 2px solid #350b57;

         box-shadow: 0px 0px 20px;
         border-radius: 5px;
     }

     input:focus {
         outline: none;
         border-color: purple;
     }

     button {

         background-color: #350b57;
         color: white;
         width: 50%;
         text-align: center;
         padding: 5px;
         margin-bottom: 10px;
         font-weight: bolder;
         border: none;
         cursor: pointer;
         border-radius: 20px;
         transition: box-shadow 2s, scale 2s;
     }

     button:hover {
         scale: 1.1;
         box-shadow: 0 200px 100px -100px #170328 inset, 0px 0px 15px purple;

     }
 }

 #contactlight {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 20px;
     padding: 20px;
     border: 1px solid #0B0B9E;
     box-shadow: 0px 0px 20px #1E1EEB;
     background-color: #00003B;
     border-radius: 20px;



     .nomTel {

         display: flex;
         flex-direction: column;
         padding: 10px;
         justify-content: space-evenly;
         gap: 10px;
         ;
     }

     .Mailentreprise {

         display: flex;
         flex-direction: column;
         padding: 10px;
         justify-content: space-evenly;
         gap: 10px;


     }

     textarea {
         resize: none;
         width: 100%;
         height: 100px;
         border-color: #1E1EEB;
         box-shadow: 0px 0px 20px;
         border-radius: 5px;
         padding: 5px;

     }

     .message {
         width: 90%;

         padding: 10px;
         justify-content: center;

     }

     legend {
         font-weight: bold;
         color: white;
     }

     input {
         height: 25px;
         border: none;
         border-bottom: 2px solid #0B0B9E;

         box-shadow: 0px 0px 20px;
         border-radius: 5px;
     }

     input:focus {
         outline: none;
         border-color: #1E1EEB;
     }

     button {

         background-color: #0B0B9E;
         color: white;
         width: 50%;
         text-align: center;
         padding: 5px;
         margin-bottom: 10px;
         font-weight: bolder;
         border: none;
         cursor: pointer;
         border-radius: 20px;
         transition: box-shadow 2s, scale 2s;
     }

     button:hover {
         scale: 1.1;
         box-shadow: 0 200px 100px -100px #00003B inset, 0px 0px 15px #1E1EEB;

     }
 }


 #contactinfo {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     margin: 20px;
     padding: 20px;
     border: 1px solid #350b57;
     box-shadow: 0px 0px 20px purple;
     background-color: #170328;
     border-radius: 20px;
     color: white;
     gap: 15px;

     .liencontact {

         color: white;
         background: none;
         border: none;
         padding: 20px;
         font-style: italic;
         transition: scale 1s;

     }

     .liencontact:hover {
         scale: 1.1;
         box-shadow: none;
     }

     ul,
     li {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         text-decoration: none;
         gap: 10px;
     }
 }

 #contactinfolight {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     margin: 20px;
     padding: 20px;
     border: 1px solid #0B0B9E;
     box-shadow: 0px 0px 20px #1E1EEB;
     background-color: #00003B;
     border-radius: 20px;
     color: white;
     gap: 15px;

     .liencontact {

         color: white;
         background: none;
         border: none;
         padding: 20px;
         font-style: italic;
         transition: scale 1s;

     }

     .liencontact:hover {
         scale: 1.1;
         box-shadow: none;
     }

     ul,
     li {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         text-decoration: none;
         gap: 10px;
     }
 }

 #cartesProjets {
     display: flex;
     width: 100%;
     margin: 20px;

     .projets,
     a:link,
     a:visited {
         color: white;
         background: none;
         border: none;
         font-style: italic;

     }

     a:hover {
         scale: 1.0;
         box-shadow: none;
     }

     .projets {
         display: flex;
         width: 20%;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 30px;
         border: 1px solid purple;
         box-shadow: 0px 0px 15px purple;
         background-color: black;
         border-radius: 10px;
         font-size: larger;
     }

     img {
         width: 100%;
         border: 1px solid purple;
         border-radius: 5px;
         transition: scale 1s;
     }

     img:hover {
         scale: 1.1;
     }

     p {
         text-align: center;
     }
 }

 #cartesProjetslight {
     display: flex;
     width: 100%;
     margin: 20px;

     .projets,
     a:link,
     a:visited {
         color: black;
         background: none;
         border: none;
         font-style: italic;

     }

     a:hover {
         scale: 1.0;
         box-shadow: none;
     }

     .projetslight {
         display: flex;
         width: 20%;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 30px;
         border: 1px solid #1E1EEB;
         box-shadow: 0px 0px 15px #1E1EEB;
         background-color: white;
         border-radius: 10px;
         font-size: larger;
     }

     img {
         width: 100%;
         border: 1px solid purple;
         border-radius: 5px;
         transition: scale 1s;
     }

     img:hover {
         scale: 1.1;
     }

     p {
         text-align: center;
     }
 }




 #cursor-trail {
     position: fixed;
     top: 0;
     left: 0;
     pointer-events: none;
     z-index: 10000;
 }

 .trail-dot {
     position: absolute;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     background: rgba(190, 90, 255, 0.9);
     filter: brightness(2);
     box-shadow:
         0 0 10px rgba(190, 90, 255, 0.8),
         0 0 20px rgba(150, 0, 255, 0.6),
         0 0 40px rgba(120, 0, 255, 0.4);
 }

 .trail-dotlight {
     position: absolute;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     background: #1E1EEB;
     filter: brightness(2);
     box-shadow:
         0 0 10px #1E1EEB,
         0 0 20px #0B0B9E,
         0 0 40px #00003B;
 }


 @media (max-width: 768px) {

     #cursor-trail,
     .trail-dot {
         display: none;
     }

     body {
         overflow: auto;
     }

     .magiczone {
         display: none;
     }

     ul {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         flex-wrap: wrap;
         gap: 5vh;
     }

     #contactinfo {
         .liencontact:hover {
             scale: 1.0;
         }
     }

     #contact {
         width: 80vw;
         button:hover {
             scale: 1.0;
         }
     }

     #cartesProjets {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
         margin: 10px 0;

         .projets {
             width: 100%;
             max-width: 300px;
             margin: 10px;
         }
     }

     
     img {
         width: 100%;
         border: 1px solid purple;
         border-radius: 5px;
         transition: scale 1s;
     }

     img:hover {
         scale: 1.0;
     }

     p {
         text-align: center;
     }
  .retourAccueil{
        width: 60vw;
     }
     
     }



 



